<h1> Add a new order</h1>
<form method="post">
    <fieldset>
    <label for=" "firstname" > First Name</label>
    <input name="firstname" id="firstName" required /><br><br>
    <label for=" "lastName" > last Name</label>
    <input name="lastName" id="lastName" required /><br><br>
    <label for=" "type" > type</label>
    <input name="type" id="type" required /><br><br>
    <label for=" "size" > Size</label>
    <input name="size" id="size" required /><br><br>
    <label for=" "quantity" > Quantity</label>
    <input name="quantity" id="quantity" required /><br><br>
    </fieldset>
    <div>
        <button> Create</button>
    </div>
</form>