<h1>edit order</h1>
<form method="post">
    <fieldset>
        <label for= "firstname" > First Name</label>
        <input name="firstname" id="firstName" required /><br><br>
        <label for= "lastName" > last Name</label>
        <input name="lastName" id="lastName" required /><br><br>
        <label for= "type" > type</label>

        <select >
            <option value="cheezy">cheexy</option>
            <option value="veg">Veg</option>
            <option value="meat" >MeatL</option>

        </select>
        <label for= "size" > Size</label>
        <select >
            <option value="small">S</option>
            <option value="medium">M</option>
            <option value="large" >L</option>

        </select>
        <br><br>
        <label for= "quantity" > Quantity</label>
        <select >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>



        </select>

    </fieldset>
    <div>
        <button> save</button>
    </div>
</form>